.App {
  text-align: center;
  background-color: transparent;
}

.App-header {
  background-color: transparent;
 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  min-height: 8vh;
  background-color: transparent; 
  color: white;
  
}

.btnDirection{
  height: 50px;
  width: 50px;
}

.contentContainer{
  
}
.buttonsContainer{
  display: inline-block;
  width: 30vw;
  height: 100vh;
}
.canvasContainer{
  display: inline-block;
  width: 70vw;
  height: 100vh;

}

 @media only screen and (max-width:850px){
  .contentContainer{
   
  }
  .buttonsContainer{
    display: inline;
    width: 100vw;
    height: 10vh;
  } 
  .canvasContainer{
    display: inline;
    width: 100vw;
    height: 90vh;
  }

}




/* Hide scrollbar */
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}