.App {
  text-align: center;
  background: rgb(1,0,9);
  background: -moz-linear-gradient(180deg, rgba(1,0,9,1) 60%, rgba(3,3,25,1) 97%);
  background: -webkit-linear-gradient(180deg, rgba(1,0,9,1) 60%, rgba(3,3,25,1) 97%);
  background: linear-gradient(180deg, rgba(1,0,9,1) 60%, rgba(3,3,25,1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010009",endColorstr="#030319",GradientType=1);
}

.App-header {
  background-color: transparent;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  min-height: 8vh;
  background-color: transparent; 
  color: white;
  
}

.contentContainer{
  display: flex;
}


.buttonsContainer{
  flex: 1;
  width: 30vw;
  margin-top: 10vh;
}
.canvasContainer{
  flex: 1;
  width: 70vw;
  height: 100vh;
}

.btnDirection{
  position: relative;
  display: block;
  background: none!important;
  border: none;
  padding: 0 0 0 0 !important;
  margin-top: 3vh;
  margin-left: 10vw;
  font-family: Orbitron, serif;
  font-size: 3vw;
  /*color: #39ff14;*/

  color:#34d617;
  text-decoration: none;
  cursor: pointer;
}

.btnDirection:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #39ff14;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}
.btnDirection:hover:before {
  transform: scaleX(1);
}
.btnDirection:hover{
  color: #62ff47;
  text-shadow:0 0 3px #1f7e0e;
}

.extraInfoImage{
  filter: grayscale(100%) invert(38%) sepia(13%) saturate(3785%) hue-rotate(138deg) brightness(95%) contrast(95%);
}

.greenImage{
  filter: invert(61%) sepia(100%) saturate(1069%) hue-rotate(63deg) brightness(96%) contrast(99%);
}

.opacity0{
  opacity: 0;
}
.githubImage{
  cursor: pointer;
  width: 75px;
  height: 75px;
  opacity: 0.65;
}
.githubImage:hover{
  opacity: 1; 
}

.githubDiv{
  position: fixed;
  top:87vh;
  left:2vw;
}

.arrowImage{
  cursor: pointer;
  width: 75px;
  height: 100px;
  opacity: 0.5;
  transition: opacity 1.2s;
}
.noTransition{
  transition: none !important;
}

.arrowImage:hover{
  opacity: 0.9;
}
.arrowImage:active{
  transform: scale(1.1);
}

.upDiv{
  position: fixed;
  top:1vh;
  left:73vw; 
  transform: rotate(-90deg); 
}
.downDiv{
  position: fixed;
  top:87vh;
  left:73vw;
  transform: rotate(90deg);
}
.leftDiv{
  position: fixed;
  top:45vh;
  left:49.5vw;
  transform: rotate(180deg);
}
.rightDiv{
  position: fixed;
  top:45vh;
  left:95vw;
}

.noOutline{
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

@media only screen and (max-width:1368px){
  .leftDiv{
    left: 52vw;
  }

}

@media only screen and (max-width:850px){
  .btnDirection{
    display: inline !important;
    padding: 0 !important;
    font-size: 6vw !important;
    margin-top: 3vh !important;
    margin-left: 3vw !important; 
  }
  .contentContainer{
    display: block;
  }
  .buttonsContainer{
    display: inline;
  } 
  .canvasContainer{
    height: 80vh;
    width: 100vw;
  }
  .floatingDivLeft{
    top:90vh;
  }
  .githubImage{
    width: 60px;
    height: 60px; 
  }
  .arrowImage{
    width: 50px;
    height: 75px;
  }
  .upDiv{
    top:30vh;
    left:45vw;
  }
  .downDiv{
    top:90vh;
    left:42vw;
  }
  .leftDiv{
    top:60vh;
    left:0vw;
  }
  .rightDiv{
    top:60vh;
    left:87vw;
  }

}

@media only screen and (max-height:725px){
  .arrowImage{
    width: 35px;
    height: 75px;
  }
  .upDiv{
    top: -2.5vh;
  }
  .downDiv{
    top: 90vh;
  }
}
